<!DOCTYPE html>
<html>
<head>
  <title>JanBan</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if flash[:notice] %>
  <div class="notification is-success global-notification">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="notification is-danger global-notification">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-item" do %>
      <h1 class="title is-5 has-text-white">JanBan</h1>
    <% end  %>
    <div class="navbar-burger burger" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to 'New', '#', class: "navbar-link" %>
          <div class="navbar-dropdown">
            <%#= link_to 'Project', new_project_path, class:"navbar-item" %>
            <%#= link_to 'Team', new_team_path, class:"navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
          <div class="navbar-dropdown is-right">
            <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class:"navbar-item" %>
        <%= link_to "Sign up", new_user_registration_path, class:"navbar-item"%>
      <% end %>

    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
